@use "variables" as *;

main{
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    padding-bottom: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    input{
        width: 100%;
        padding: 10px 30px;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 60px;
        text-align: center;
        background-color: rgb(245, 245, 245);
    }
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    li{
        // width: calc(100%/5 - 2%);
        // margin: 1%;
        padding: 10px 15px;
        border: rgb(245, 245, 245);
        border-radius: 30px;
        background-color: rgb(245, 245, 245);
    }
}

.accent{
    color: $accentColour;
}

.accentBackground{
    background-color: $accentColour;
    color: $secondaryColour;
}